.contact-form {
  margin-top: 50px;

  input,
  textarea {
    background-color: $ltpurple;
    border: 0;
    color: $black;
    padding: 5px;
  }

  label {
    color: $white;
    font-size: 22px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }
}
