.intro {
  .main-msg {
    position: absolute;
    background-color: $mdgreen;
    top: 25%;
    right: 50px;
    z-index: 3;
    padding: 30px;
    text-align: right;

    h1,
    p {
      font-family: $serif;
      font-size: 32px;
      color: $black;
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      max-width: 70%;
    }
  }

  .btn-default {
    position: absolute;
    top: 80vh;
    left: 10vw;
  }
}