// .rates {
//   .table {
//     tbody {
//       width: 100%;

//       tr {
//         &:first-of-type {
//           p {
//             &:first-of-type {
//               font-size: 22px;
//             }
//           }
//         }
//       }

//       td,
//       th {
//         border: 0;
//         width: 50%;
//         display: table-cell;

//         p {
//           background-color: rgba(232, 217, 145, 0.3);
//           width: 100%;
//           height: 100%;
//           margin: 0 10px;
//           padding-top: 10px;
//           padding-bottom: 10px;
//           font-size: 20px;
//           color: $white;

//           &.duration {
//             padding-left: 45px;
//           }

//           &.rate {
//             text-align: right;
//             padding-right: 45px;
//           }

//           &:empty {
//             background: transparent;
//           }

//           @media (min-width: 768px) {
//             font-size: 40px;
//           }
//         }
//       }
//     }
//   }
// }

.rates {
  .table {
    p {
      margin-bottom: 0;

      &.duration,
      &.rate {
        font-size: 24px;
      }
    }

    .service-title,
    .service-description {
      th {
        background-color: $mdgreen;
        width: 100%;
      }
    }

    .service-title {
      th {
        font-size: 32px;
        color: $white;
      }
    }

    .service-description {
      th {
        font-size: 14px;
      }
    }

    tbody {
      tr {
        &:nth-of-type(odd) {
          background-color: $ltgreen;
        }
      }
    }
  }
}
