.testimonials {
  .testimonial-wrapper {
    &:not(:last-of-type) {
      margin-bottom: 50px;
    }
  }

  .testimonial-text {
    text-align: center;
  }

  .testimonial-author {
    position: relative;
    text-align: right;
    margin-top: 50px;
    display: flex;
    align-items: center;

    .dash {
      width: 15px;
      background-color: $black;
      height: 2px;
      margin-left: auto;
      margin-right: 10px;
    }
  }

  .carousel-inner {
    width: 80%;
    margin: 0 auto;

    // .carousel-item {
    //   min-height: 430px;
    //   height: auto;
    //   position: relative;

    //   .carousel-positioner {
    //     position: absolute;
    //     top: 50%;
    //     transform: translateY(-50%);
    //   }
    // }
  }

  // .carousel-control-prev {
  //   left: -20%;
  //   color: $black;
  // }

  // .carousel-control-next {
  //   right: -20%;
  //   color: $black;
  // }
}
