body {
  background-color: rgba(22, 170, 157, 0.3);
}

* {
  font-family: $serif;
  line-height: 1.2;
}

p {
  font-size: 24px;
  color: $black;
}

figcaption {
  color: $black;
  margin-top: 10px;
}

h1,
h2,
h3,
h4 {
  font-size: 40px;
  margin-bottom: 20px;
  color: $white;

  @media (min-width: 768px) {
    font-size: 58px;
    margin-bottom: 50px;
  }
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.richtext:first-of-type,
section {
  margin-top: 80px;
  margin-bottom: 80px;

  @media (min-width: 768px) {
    margin-top: 200px;
    margin-bottom: 200px;
  }
}

.btn-default {
  padding: 15px 30px;
  background-color: $mdgreen;
  border: 3px solid $purple;
  color: $white;
  font-size: 26px;
}

.content-wrapper {
  margin-top: 0;
}
