@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

$cream: #e9d891;
$teal: rgba(22, 170, 157, 1.0);
$purple: #d6b9ce;
$dkPurple30: shade($purple, 30%);
$dkPurple40: shade($purple, 40%);
$dkPurple50: shade($purple, 50%);
$white: #fff;
$black: #000;

$serif: 'Gabriela',
serif;
$sans: 'Didact Gothic',
sans-serif;