<section class="intro-message">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-4">
				<img src="{{site.url}}/wp-content/themes/boston-massage-associates/assets/images/logoYellowBg.png" alt=""/>
			</div>
			<div class="col-lg-4">
				<h1 class="serif mb-3">Welcome to Boston Massage Associates</h1>
				<p>
					{{post.content}}
				</p>
			</div>
		</div>
	</div>
</section>
