<div class="container">
	<div class="row">
		<div class="col-lg-10">
			<form class="contact-form" action="">

				<div class="form-group">
					<div class="form-pair">
						<label for="firstName">First Name</label>
						<input type="text" name="firstName" required/>
					</div>
					<div class="form-pair">
						<label for="lastName">Last Name</label>
						<input type="text" name="lastName" required/></div>
				</div>

				<div class="form-pair">
					<label for="email">Email</label>
					<input type="email" name="email" required/></div>
				<div class="form-pair">
					<label for="phone">Phone</label>
					<input type="tel" name="phone" required></div>

				<div class="form-pair">
					<label for="comment">Comments</label>
					<textarea name="Comment" id="comment" cols="30" rows="5"></textarea>
				</div>

				<button class="btn-default">Submit</button>
			</form>

		</div>
	</div>
</div>
