<section class="rates" id="rates">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-12">
        <table class="table">
          <tbody>
            {% for rate in rates %}
            <tr>
              <th scope="row">
                <p class="duration">{{ rate.duration }}</p>
              </th>
              <td>
                <p class="rate">{{ rate.rate }}</p>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
