<section class="container testimonials" id="reviews">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center">What our clients are saying</h2>
      <p>&nbsp;</p>
    </div>
  </div>

  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-lg-10">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          {% for item in testimonials %}
          <div class="carousel-item{% if loop.first %} active{% endif %}">
            <div class="testimonial-text">{{ item.testimonial }}</div>
            <p class="testimonial-author">
              <span class="dash"></span>
              <span>{{ item.author }}</span>
            </p>
          </div>
          {% endfor %}
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleControls"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleControls"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>
