<nav class="navbar">
	<img class="logo" src="{{theme.path}}/assets/images/logoYellowBg.png" alt=""/>

	<h1>Boston Massage Associates</h1>

	{% if menu %}
		<ul class="nav-items ml-auto">
			{% for item in menu.items %}
				<li class="nav-item">
					<a target="{{item.target}}" rel="noopener noreferrer" href="{{ item.link }}">{{ item.title }}</a>
					{% include "menu.twig" with {'items': item.children} %}
				</li>
			{% endfor %}
		</ul>
	{% endif %}
</nav>
