{% extends "base.twig" %}

{% block content %}

	{% if post.meta('modules') %}
		{% for item in post.meta('modules') %}

			{% if item.services %}
				{% include "templates/modules/services.twig" with {
					services: item.services
				} %}
			{% endif %}

			{% if item.about_section %}
				<p>About Section
				</p>
			{% endif %}

			{% if item.rates %}
				<p>Rates
				</p>
			{% endif %}

			{% if item.testimonials %}
				<p>Testimonials
				</p>
			{% endif %}

			{% if item.richtext %}
				<p>Richtext
				</p>
			{% endif %}

		{% endfor %}
	{% endif %}
{% endblock %}
