{% extends "base.twig" %}

{% block content %}

	{% if post.meta('modules') %}
		{% for item in post.meta('modules') %}

			{% if item.services %}
				{% include "templates/modules/services.twig" with
					{
						services: item.services
					}
				%}
			{% endif %}

			{% if item.about_language %}
				{% include "templates/modules/about.twig" with
					{
						copy: item.about_language,
						thumbs: item.thumbnail_description
					}
				%}
			{% endif %}

			{% if item.rates %}
				{% include "templates/modules/rates.twig" with
					{
						rates: item.rates
					}
				%}
			{% endif %}

			{% if item.testimonials %}
				<p>Testimonials
				</p>
			{% endif %}

			{% if item.richtext %}
				{% include "templates/modules/richtext.twig" with
					{
						content: item.richtext
					}
				%}
			{% endif %}

		{% endfor %}
	{% endif %}
{% endblock %}
