<section class="cta-row">
	<div class="container">
		<div class="row cta-wrapper odd">
			<div class="col-lg-10">
				<div class="cta-img">
					<img class="img-fluid" src="{{site.url}}/wp-content/themes/boston-massage-associates/assets/images/cta2.jpg" alt=""/>
				</div>
				<div class="single-cta">
					<h4 class="text-center serif">Learn About BMA</h4>
					<p class="text-center">
						All of the massage therapists at Boston Massage Associates are nationally certified, fully insured and licensed in the state of MA.
					</p>
				</div>
			</div>
		</div>

		<div class="row cta-wrapper even">
			<div class="col-lg-10 offset-lg-2">
				<div class="single-cta">
					<h4 class="text-center serif">Massage Services</h4>
					<p class="text-center">
						Deep tissue massages, sports massages, assisted stretching, and many more modalities are offered here at Boston Massage Associates.
					</p>
				</div>

				<div class="cta-img ml-auto">
					<img class="img-fluid" src="{{site.url}}/wp-content/themes/boston-massage-associates/assets/images/cta1.jpg" alt=""/>
				</div>
			</div>
		</div>

		<div class="row cta-wrapper odd">
			<div class="col-lg-10">
				<div class="cta-img">
					<img class="img-fluid" src="{{site.url}}/wp-content/themes/boston-massage-associates/assets/images/cta3.jpg" alt=""/>
				</div>
				<div class="single-cta">
					<h4 class="text-center serif">Rates</h4>
					<p class="text-center">
						View our standard massage and assisted stretching rates, if you have any questions please contact us directly.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
