<section class="intro-message">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-lg-4">
				<img src="{{site.url}}/wp-content/themes/boston-massage-associates/assets/images/logoYellowBg.png" alt=""/>
			</div>
			<div class="col-lg-4">
				<h1 class="serif mb-3">Welcome to Boston Massage Associates</h1>
				<p>
					Nestled five floors above Boylston Street in Boston’s historic Back Bay; Boston Massage Associates rises above the hustle and bustle of the busy city streets below. We are conveniently located near the Arlington T stop at 437 Boylston Street, between Starbucks and Au Bon Pain.
				</p>
			</div>
		</div>
	</div>
</section>
