<section class="intro-message">
	<div class="container">
		<div class="row align-items-center justify-content-center">

			<div class="col-lg-8">
				<h1 class="serif mb-3">{{post.title}}</h1>
				<p>
					{{post.content}}
				</p>
			</div>
		</div>
	</div>
</section>
