<div class="landing">
	<img src="{{site.url}}/wp-content/themes/boston-massage-associates/assets/images/background.jpg" alt=""/>
	<div class="landing-msg">
		<p class="mb-0">
			Our goal is to become partners with you on your journey towards increased health and wellness.
		</p>
		<button class="cta" type="button">
			<a href="https://www.schedulicity.com/scheduling/BMAR86" class="book-now">
				Book now
			</a>
		</button>
	</div>
</div>
